$blueLight: rgb(25, 136, 255);
$blueDark: #0c63e4;
$greenLight: rgb(61, 176, 87);
$greenDark: rgb(25, 135, 84);
$redLight: rgb(223, 73, 87);
$redDark: rgb(220, 53, 69);
$black: rgba(0,0,0,0.75);
$boxShadow: 1px 2px 7px 0px rgba(0,0,0,0.75);
$border: 1px solid rgba(200, 185, 185, 0.5);
$boxShadowDash: 2px 2px 6px -4px rgba(0,0,0,0.9);

@font-face {
    font-family: 'Extreme';
    src: url('/fonts/Extreme-Regular.woff2') format('woff2'),
        url('/fonts/Extreme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

a{
    color: white !important;
    text-decoration: none !important;
}

div.ql-editor{
    ol, ul{
        text-align: left !important;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    text-align: center;

    #content{
        #implantation{
            .stages{
                padding: 0 .5rem 1.5rem 0.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                margin-top: 60px;
                -webkit-box-shadow: $boxShadow;
                -moz-box-shadow: $boxShadow;
                box-shadow: $boxShadow;
                
                >div.myColumn{
                    display: flex; 
                    align-items:center;

                    h5{
                        display: inline; 
                        margin-right: .7rem; 
                        margin-bottom: 0;
                    }

                    >div{
                        display: inline-block;
                    }

                }

                div.separate{
                    border: 1px solid rgba(0,0,0,0.25); 
                    height: 1px;
                    margin: 0 auto 2.5rem auto;
                }
            }
        }
    }
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#dataImplant{
    display: flex;
    justify-content: center;
    text-align: left !important;
    background-color: #f2f7ec;
    padding: .5rem;
}

.col{
    >div.elements{
        display: flex;
        align-items: center;
        cursor: pointer;
        text-align: left;
        a{
            display: flex;
            align-items: center;
            height :100%; 
            width: 100%;
            text-decoration: none; 
            color: black !important; 
            padding: 1.5rem 1.25rem;
            border-radius: 16px;
            border: $border;
            border-radius: 16px;
            -webkit-box-shadow: $boxShadow;
            box-shadow: $boxShadow;

            &:hover{
                box-shadow: 2px 2px 6px -4px rgba(0,0,0,0.9);
            }
        }
        
        div.left{
            span.value{
                font-weight: bold;
            }
        }

        div.right{
            margin-left: auto;

            span{
                i{
                    color: white;
                    border-radius: 50%;
                    padding: .5rem;
                }

                i.iGreen{
                    background-color: rgb(59, 150, 59);
                }
                
                i.iRed{
                    background-color: rgb(220, 12, 12);
                }
                
                i.iBlue{
                    background-color: rgb(33, 150, 243);
                }
            }
        }
    }
}

#napp{
    #rowDataDash{
        margin-top: 1rem;
        padding: 0 12px;

        >div{
            display: flex;
            width: 100%;
        }

        div.col{
            >div{
                border: $border;
                border-radius: 8px;
                -webkit-box-shadow: $boxShadowDash !important;
                box-shadow: $boxShadowDash !important;
                padding: .5rem .5rem;
                h4.text-h2{
                    font-weight: bold;
                }
            }

            >div#partVendas{
                h4{
                    color: #1ac71a;
                }
            }

            >div#partCatalog{
                h4{
                    color: #AD390B;
                }
            }
        }
    }
}

#dashboard{
    a.totalAcomp{
        display: flex;
        align-items: center;
        height :100%; 
        width: 100%;
        text-decoration: none; 
        color: black !important; 
        padding: 1.5rem 1.25rem;
        border-radius: 16px;
        border: $border;
        border: 1px solid rgba(200, 185, 185, 0.5);
        border-radius: 16px;
        -webkit-box-shadow: $boxShadowDash !important;
        box-shadow: $boxShadowDash !important;
    }

    div.datasDash{
        margin-top: 5rem !important;
        
        div.dash{
            text-align: left;

            h3{
                font-size: 1rem !important;
                font-weight: bold !important;
            }

            h4{
                font-size: 1rem !important;
                font-weight: bold !important;
            }

            //width: 100%;
            margin-bottom: 1.5rem;

            div#arrayMov{
                display: flex;
                align-items: center;
                justify-content: center;

                >span{
                    border: $border;
                    border-radius: 16px;
                    -webkit-box-shadow: $boxShadowDash;
                    width: 100%;
                    padding: 1.5rem 1.25rem;
                    box-shadow: $boxShadowDash;

                    h3{
                        margin-bottom: 1.5rem;
                    }

                    div.data{
                        border-bottom: 1px solid rgba(200, 185, 185, 0.9);
                        margin-bottom: 1.3rem;

                        >div{
                            display: flex;
                            align-items: center;
                            
                            div.divLeft{
                                float:left;
                                max-width: 220px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                span{
                                    display: inline-block;
                                    max-width: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                            
                            div.divRight{
                                margin-left: auto
                            }
                        }
                    }
                }
            }
            
            div.elements{
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: .7rem;

                >span{
                    display: flex;
                    align-items: center;
                    height: 100%; 
                    width: 100%;
                    text-decoration: none; 
                    color: black; 
                    padding: 1.5rem 1.25rem;
                    border-radius: 16px;
                    border: $border;
                    border-radius: 16px;
                    -webkit-box-shadow: $boxShadowDash !important;
                    box-shadow: $boxShadowDash !important;

                    &:hover{
                        box-shadow: 2px 2px 6px -4px rgba(0,0,0,0.9);
                    }
                }
                
                div.left{
                    text-align: left;
                    span.value{
                        font-weight: bold;
                        
                    }
                }

                div.right{
                    margin-left: auto;

                    span{
                        i{
                            color: white;
                            border-radius: 50%;
                            padding: .5rem;
                        }

                        i.iGreen{
                            background-color: rgb(59, 150, 59);
                        }
                    }
                }
            }

            >div#first{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                border: $border;
                border-radius: 16px;
                max-width: 100%;
                -webkit-box-shadow: $boxShadowDash;
                box-shadow: $boxShadowDash;
                margin-left: auto;
                margin-right: auto;

                div.divDash{
                    text-align: center;
                    margin-bottom: auto !important;
                    margin-top: auto !important;
                    padding: 1.5rem 1.25rem;
                    width: 100%;

                    #apexchart{
                        max-height: 100% !important;
                        >div{
                        margin-left: auto;
                        margin-right: auto;
                        }
                    }

                    #dashExpAndRecs{
                        >div{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                .v-input{
                    max-width: 70% !important;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: linear-gradient(to bottom, #185992 0%, #31374F 100%);
    color: #fff !important;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5 !important;
    background: #fff !important;
}
/*
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #143450;
}
*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #225886 !important;
}

.input-group .form-control{
    border: 0;
}

button.btn.btn-link.aa:not(.collapsed){
    background-color: red !important;
    color: #0c63e4 !important;
}

button {
  margin: 0  .15rem !important;
}

#divMainReplic{
    #modalStore, #modalStoreEdit, #modalNetwork {
        .vm--modal {
            height: auto !important;
            bottom: 2rem !important;
            top: 2rem !important;
        }
    }

    td,tr {
        width: 20% !important;
    }

    .table > :not(:first-child){
        border-top: none !important;
    }

    .row {
        height: 100%;
      }
      
      .card {
        border: none !important;
      }
      
      div.card-body{
        margin-bottom: auto;
        margin-top: auto;
        text-align: left !important;
      }
      
      button {
        margin-top: auto;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
          background-color: #f1f1f1
        }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }

      a.btn.btn-outline-light{
        &:hover {
            color: black !important;
        }
      }
}

#testeeee{
    

    ::-webkit-scrollbar-thumb{
        background: red;
        border-radius: 20px;
    }
}

.toast{
    border: none !important;
}
  
.toast-body{
    font-size: 1.08rem;
}

.vm--modal{
    background: none !important;
    left: 0 !important;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}

.home{
    .vm--modal{
        background: white !important;
        width: 80% !important;
    }
}

button.close{
    background: none;
    border: none !important;
    font-size: 1.5rem;
    border-radius: 50% !important;
}

/* width */
   ::-webkit-scrollbar {
    width: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;
}

#elements{
    text-align: left;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12); 
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    >div{
        display: block;
        background-color: rgb(52, 52, 61); 
        min-width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    a{
        padding: 0.375rem 0.75rem;
        display: block;
    }

    div.blue{
        background-color: $blueLight;
        border-bottom: 1px solid $blueDark;
        
        a{
            color: white;
        }

        &:hover{
            background-color: $blueDark;
        }
    }

    div.green{
        background-color: $greenLight;
        border-bottom: 1px solid $greenDark;

        a{
            color: white;
        }

        &:hover{
            background-color: $greenDark;
        }
    }

    div.red{
        background-color: $redLight;
        border-bottom: 1px solid $redDark;

        a{
            color: white;
        }

        &:hover{
            background-color: $redLight;
        }
    }

    div.black{
        background-color: black !important;
        border-bottom: 1px solid black !important;

        a{
            color: white;
        }

        &:hover{
            background-color: black !important;
        }
    }
}


@media (min-width: 576px) { 
    
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .home{
        .vm--modal{
            background: white !important;
            width: 50% !important;
        }
    }
}

@media (min-width: 1200px) {

}